<mat-card class="centerCard" style="border-style: dashed;">
    <div *ngIf="deposit">
        <mat-card-header>
            <mat-card-title>Twój Rachunek Podstawowy</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <span>IBAN number:</span>
                <mat-list-item>Not supported yet</mat-list-item>
                <span>Balance:</span>
                <mat-list-item>{{deposit.balance}} PLN</mat-list-item>
            </mat-list>

        </mat-card-content>
    </div>
    <div *ngIf="!deposit">
        <mat-card-header>
            <mat-card-title>Nie masz jeszcze założonego rachunku!</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            Skonsultuj się z pracownikiem banku, aby utworzyć rachunek osobisty.
        </mat-card-content>
    </div>
</mat-card>