<mat-toolbar class="top-bar" color="primary">
  <a routerLink="./deposit" class="button" mat-fab color="primary">
    <mat-icon svgIcon="dollar"></mat-icon>
  </a>
  <a routerLink="./deposit" class="button" mat-raised-button color="primary">Mój rachunek</a>
  <a routerLink="./loans" class="button" mat-raised-button color="primary">Moje kredyty</a>
  <a routerLink="./transactions/new" class="button" mat-raised-button color="primary">Wykonaj przelew</a>
  <a [routerLink]="['./transactions', clientId]" class="button" mat-raised-button color="primary">Historia przelewów</a>
  <span class="flexExpand"></span>
  <a href="logout" class="button" mat-raised-button color="basic" (click)="logout()">Wyloguj</a>
</mat-toolbar>