<mat-card *ngFor="let user of users" style="border-style: dashed;">
    <mat-card-title>
        <span>Użytkownik {{user.firstName}} {{user.lastName}}</span>
    </mat-card-title>
    <mat-card-content>
        <mat-list>
            <span>Email:</span>
            <mat-list-item>{{user.email}}</mat-list-item>
            <span>Telefon:</span>
            <mat-list-item>{{user.phone}}</mat-list-item>
        </mat-list>
    </mat-card-content>

    <mat-card style="border-style:dotted">
        <mat-card-header>Depozyt użytkownika</mat-card-header>
        <div *ngIf="user.deposit">
            <app-deposit-info [deposit]="user.deposit"></app-deposit-info>
            <a [routerLink]="['../transactions',user.id]" mat-raised-button color="primary">Historia</a>
        </div>
        <mat-card-content *ngIf="!user.deposit">
            <div>Ten klient nie ma jeszcze depozytu. Czy chcesz go teraz utworzyć?</div>
            <button mat-raised-button color="primary" (click)="createDeposit(user)">Utwórz depozyt</button>
        </mat-card-content>
    </mat-card>
</mat-card>