<ng-container *ngIf="loans">
    <mat-card *ngFor="let loan of loans" style="border-style: dashed;">
        <mat-card-header>
            <mat-card-title *ngIf="loan.purpose!==null">Kredyt: {{loan.purpose}}</mat-card-title>
            <mat-card-title *ngIf="loan.purpose===null">Kredyt bez nazwy</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <span>Status kredytu:</span>
                <mat-list-item>
                    <span>{{loan.status}}</span>
                    <span *ngIf="canDecide && loan.status==='pending'">
                        <button mat-raised-button color="primary" (click)="accept(loan)">Akceptuj</button>
                    </span>
                    <span *ngIf="canDecide && loan.status==='pending'">
                        <button mat-raised-button color="primary" (click)="reject(loan)">Odrzuć</button>
                    </span>
                </mat-list-item>

                <span>IBAN:</span>
                <mat-list-item>{{loan.id}}</mat-list-item>
                <span>Saldo:</span>
                <mat-list-item>{{loan.value}} PLN</mat-list-item>
                <span>Ilość rat:</span>
                <mat-list-item>{{loan.installments}}</mat-list-item>
                <span>Ilość spłaconych rat:</span>
                <mat-list-item>{{loan.installmentsPaid}}</mat-list-item>
                <span>Depozyt źródłowy:</span>
                <mat-list-item>{{loan.depositId}}</mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</ng-container>